.projects-container{
    width:100%;
    height:700px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #a2f3ee;
}

.projects-text{
    display: flex;
    justify-content: center;
    align-content: center;
}

.projects-text p{
    color: #80fff7;
    text-align: center;
    font-size:30px;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #80fff7;
}
.slider-container{
    max-width: 80%;
    height: 600px;
    margin: 0 auto;
}

.card-slider .slick-slide{
    margin: 15px;
}

.card-content{
    width: 100%;
    height: 400px;
    perspective: 600px;
}

.card-inner{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.card-content:hover .card-inner{
    transform: rotateY(180deg);
}

.card-font, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-font{
    background-color: #a2f3ee;
    color: white;
}

.card-back{
    background-color: #149991;
    color: white;
    transform: rotateY(180deg);
}

.slick-dots li.slick-active button:before{
    color:#149991;
}

.slick-dots li button:before{
    font-size: 8px;
    /*color: #8c8c8c;*/
    color:#149991;
}


.card-slider .slick-next:before, .card-slider .slick-prev:before{
    font-family: 'fontAwesome';
    font-size: 30px;
    color: #149991;
}

.card-slider .slick-prev:before{
    content: '\f053';
}

.card-slider .slick-next:before{
    content: '\f054';
}

.card-slider .slick-prev, .card-slider .slick-next{
    width:auto;
    height: auto;
}