html,
body {
    height: 100%;
    background-color:#f6f5f5;
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none;
}

p{
    margin:0;
}

#top-horizontal-navigation-bar{
    position:fixed;
    top:0;
    width:100%;
    height:55px;
    background-color: #FFFFFF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    margin:0;
    overflow: hidden;
    z-index: 1;
}

#top-horizontal-navigation-bar ul{
    display: flex;
    list-style: none;
    float:right;
}

.toggle{
    display:none;
}

#top-horizontal-navigation-bar ul li a{
    width:100px;
    text-align: center;
    margin:30px;
    font-family:cursive;
    color:#000000;
    font-size:15px;
    font-weight:700;
}



.logo_container{
    position:fixed;
    top:7px;
    width:80px;
    height:40px;
    overflow: hidden;
    margin:0 5%;
}

.logo_container video{
    position: absolute;
    top:1px;
    left:1px;
    width: 96%;
    height: 96%;
    object-fit: cover;
}

.logo{
    display:block;
    width:100%;
    line-height: 42px;
    background: #FFFFFF;
    color:#000000;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    font-family: Impact, fantasy;
    border:none;
    outline:0;
    position:absolute;
    bottom:0;
    text-decoration: none;
    mix-blend-mode: screen;
    text-shadow: 0px -5px 5px red,
    0px 0px 5px purple,
    0px 5px 5px blue;
}

#top-horizontal-navigation-bar ul li a.active{
    font-weight:bold;
    color:#149991;
    border-bottom: 2px solid #149991;
}

.project-info-grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-info-grid.active{
    filter: blur(10px);
}

.project-info-grid:before{
    width:100%;
    height:55px;/*adjust with height of navbar*/
    content: "";
    display:block;
}

.project-info-container{
    width: 70%;
    background-color: #FFFFFF;
}


.content-left{
    position: fixed;
    width:20%;
    height:100%;
    background-color: #a2f3ee;
}

.content-left ul{
    list-style: none;
    padding: 0;

}

.content-left li{
    margin-bottom: 15px;
    line-height: 40px;
}

.content-left ul li a{
    line-height: 40px;
    text-align: left;
    font-family:sans-serif;
    color:#8c8c8c;
    font-size:20px;
    font-weight:700;
    display: block;
    padding-left: 10px;
    margin-left: 10px;
}

.content-left ul li a.active{
    font-weight:bold;
    color:#FFFFFF;
    background-color: #8af0e9;
    border-left: 2px solid #FFFFFF;
}

.content-right{
    width:70%;
    background-color: #FFFFFF;
    margin-left: 30%;
}

.project-info-section:before{
    height:55px;/*adjust with height of navbar*/
    content: "";
    display:block;
}

.project-info-section{
    width: 100%;
    min-height: 100vh;
}

.project-info-section h1{
    color: #149991;
    font-weight: 600;
    font-family: sans-serif;
    padding: 5% 2.5% 0 2.5%;
}

.project-info-section h2{
    color: #149991;
    font-weight: 600;
    padding: 0 2.5%;
    margin: 0;
}

.project-info-section p{
    font-size: 20px;
    font-family: sans-serif;
    padding: 5% 2.5%;
}

.project-info-section p span{
    display: inline-block;
    border-radius: 5px;
}

.project-info-section img{
    width: 100%;
    height: 50vh;
}

.project-info-section-sub{
    width: 100%;

}

.image-box{
    width:100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-bottom: 5vh;
}

.image-box img{
    width: 300px;
    height: 100%;
}

.command-line-container{
    width: 90%;
    min-height: 4vh;
    color:#ffffff;
    font-size: 18px;
    background-color: #000000;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em 0;
}

.inline-cmd{
    color: #ffffff;
    background-color: #149991;
    padding: 0 0.5em;
    border-radius: 5px;
}

.link-copy-box{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-copy-box input[type=text]{
    width: 90%;
    height: 100%;
    font-size: 18px;
    box-sizing: border-box;
    outline: none;
    border-color: #149991;
    border-radius: 5px 0 0 5px;
}
.link-copy-box button{
    width: 6vh;
    height: 100%;
    font-size: 20px;
    color: #ffffff;
    background-color: #149991;
    border: none;
    border-radius: 0 5px 5px 0;
}

.warning-sign{
    background-color: red;
    color: white;
}


@media(max-width: 1000px){
    *{
        box-sizing: border-box;
    }

    #top-horizontal-navigation-bar ul{
        margin:0px;
        padding:0px;
        background-color: rgba(235, 238, 244, 0.5);
        position: fixed;
        left:0;
        top:0;
        width:100%;
        height:100vh;
        box-sizing:border-box;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        display:none;
    }
    #top-horizontal-navigation-bar ul li{
        padding:10px;
    }
    #top-horizontal-navigation-bar ul li a{
        font-family:cursive;
        font-weight: bold;
        font-size: 1.4em;
        text-transform: uppercase;
        color:#363636;
    }
    #top-horizontal-navigation-bar ul li a:hover{
        color:#149991;
    }

    .toggle{
        display:block;
    }

    .toggle:before{
        content: '\f0c9';
        position:fixed;
        top: 15px;
        right:35px;
        font-family: fontAwesome;
        font-size: 32px;
        color: #454545;
        line-height: 30px;
        z-index: 1;
    }
    .toggle.active:before{
        content:'\f00d';
        font-size: 32px;
        color: #454545;
        position:fixed;
        top: 15px;
        right:35px;
        line-height:  30px;
    }

    #top-horizontal-navigation-bar.active ul{
        display: flex !important;
    }
    .content-left{
        width: 2%;
    }
    .content-left nav{
        display: none;
    }
    .content-right{
        width: 90%;
        margin-left: 8%;
    }
}

@media(max-width:900px){
}

@media(max-width:700px) {
    .project-info-container{
        width: 100%;
    }
}