.projects-container{
    width:100%;
    height:700px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #a2f3ee;
}

.projects-text{
    display: flex;
    justify-content: center;
    align-content: center;
}

.projects-text p{
    color: #80fff7;
    font-size:30px;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #80fff7;
}
.slider-container{
    max-width: 80%;
    height: 600px;
    margin: 0 auto;
}

.card-slider .slick-slide{
    margin: 15px;
}

.card-content{
    width: 100%;
    height: 400px;
    perspective: 600px;
}

.card-inner{
    position:relative;
    width:100%;
    height:100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.card-content:hover .card-inner{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-front{
    background-color: #a2f3ee;
    color: white;
}

svg{
    background-color: #a2f3ee;
}

.card-front-content,
.card-back-content{
    width: 100%;
    height: 75%;
}

.card-front-content{
    display:flex;
    align-items: center;
    margin-left: 5%;
}

.card-front-image-box,
.card-back-image-box{
    width: 95%;
    height: 90%;
}

.card-front-image-box img,
.card-back-image-box img{
    width:100%;
    height:100%;
    display:block;
}


.card-back-image-box{
    filter:blur(10px);
}

.card-back-content-layer{
    position: relative;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    margin-left: 5%;
}

.project-info-text{
    position: absolute;
    top: 0;
    left: 5%;
    bottom: 0;
    right: 5%;

}

.project-info-text p{
    color: #ffffff;
    font-size: 20px;
    padding: 5% 5% 5% 0;
}

.card-front-footer,
.card-back-footer{
    width: 100%;
    height: 25%;
    background-color: #ffffff;
}

.card-back{
    background-color: #149991;
    color: white;
    transform: rotateY(180deg);
}

.more-info-btn-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-btn-container a{
    width: 40%;
    height: 50%;
    background-color: transparent;
}

.more-info-btn{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: #149991;
    outline: none;
    border: none;
}

.more-info-btn:before{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.more-info-btn:after{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}

.more-info-btn:hover:before{
    width: 100%;
    height: 100%;
    border-top: 2px solid #149991;
    transition: width 0.5s linear,
    height 0.5s linear 0.5s;
}

.more-info-btn:hover:after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #149991;
    transition: width 0.5s linear,
    height 0.5s linear 0.5s;
}

.slick-dots li.slick-active button:before{
    color:#149991;
}

.slick-dots li button:before{
    font-size: 8px;
    /*color: #8c8c8c;*/
    color:#149991;
}


.card-slider .slick-next:before, .card-slider .slick-prev:before{
    font-family: 'fontAwesome';
    font-size: 30px;
    color: #149991;
}

.card-slider .slick-prev:before{
    content: '\f053';
}

.card-slider .slick-next:before{
    content: '\f054';
}

.card-slider .slick-prev, .card-slider .slick-next{
    width:auto;
    height: auto;
}