@charset "utf-8";
html,
body {
    height: 100%;
    background-color:#f6f5f5;
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none;
}

section{
    width:100%;
    height:100vh;
    background: linear-gradient(90deg, #a2f3ee 50%, #FFFFFF 50%);
    overflow-x: hidden;
}


.section.active{
    filter: blur(10px);
}

nav{
    position:fixed;
    top:0;
    width:100%;
    height:55px;
    background-color: #FFFFFF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    margin:0;
    overflow: hidden;
    z-index: 1;
}

nav ul{
    display: flex;
    list-style: none;
    float:right;
}

.toggle{
    display:none;
}

nav ul li a{
    width:100px;
    text-align: center;
    margin:30px;
    font-family:cursive;
    color:#000000;
    font-size:15px;
    font-weight:700;
}



.logo_container{
    position:fixed;
    top:7px;
    width:80px;
    height:40px;
    overflow: hidden;
    margin:0 5%;
}

.logo_container video{
    position: absolute;
    top:1px;
    left:1px;
    width: 96%;
    height: 96%;
    object-fit: cover;
}

.logo{
    display:block;
    width:100%;
    line-height: 42px;
    background: #FFFFFF;
    color:#000000;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    font-family: Impact, fantasy;
    border:none;
    outline:0;
    position:absolute;
    bottom:0;
    text-decoration: none;
    mix-blend-mode: screen;
    text-shadow: 0px -5px 5px red,
                    0px 0px 5px purple,
                    0px 5px 5px blue;
}

nav ul li a.active{
    font-weight:bold;
    color:#149991;
    border-bottom: 2px solid #149991;
}

/*---------adjust with height of navbar--------*/
.about-container:before{
    width:100%;
    height:55px;/*adjust with height of navbar*/
    background: linear-gradient(90deg, #a2f3ee 50%, #FFFFFF 50%);;
    content: "";
    display:block;
}

.skill-container:before,
.projects-container:before,
.contact-container:before{
    width:100%;
    height:55px;/*adjust with height of navbar*/
    content: "";
    display:block;
}

/*--------------text container------------*/
.text-container p:nth-child(1){
    font-family:calibri;
    font-weight:bold;
    color:#6d6d6d;
    font-size:32px;
}

.text-container p:nth-child(2){
    font-family:calibri;
    font-weight:900;
    color:#1a1a1a1a;
    font-size:75px;
}

.text-container p:nth-child(3){
    font-family:calibri;
    color:#403e3e;
    font-size:40px;
    line-height:40px;
}

.text-container p{
    line-height:0;
    margin:45px 0 25px;
}

.text-container{
    width:100%;
    height:500px;
    position:absolute;
    top: 15%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px 30px;
}

.scroll-btn{
    position:absolute;
    /*transform: translateY(400%) translateX(-52%) rotate(45deg);*/
    transform: translateY(400%) translateX(-126%) rotate(45deg);
    left:50%;
    height:40px;
    width: 40px;
}

.scroll-btn span{
    position:absolute;
    top: 0;
    left: 0;
    display:block;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #FFFFFF;
    border-right: 5px solid #a2f3ee;
    animation: scroll 1.5s linear infinite;
}

.scroll-btn span:nth-child(1){
    transform: translate(-15px, -15px);
    animation-delay: -.4s;
}

.scroll-btn span:nth-child(2){
    transform: translate(0, 0);
    animation-delay: -.2s;
}

.scroll-btn span:nth-child(3){
    transform: translate(15px, 15px);
    animation-delay: 0s;
}

@keyframes scroll {
    0%{
        top:-2px;
        left:-2px;
        opacity: 0;
    }
    25%{
        top:0;
        left:0;
        opacity:1;
    }
    50%, 100%{
        top:2px;
        left:2px;
        opacity: 0;
    }
}

/*---------------About---------------*/
.about-container{
    width:100%;
    height: 100vh;
}

.style-block.color{
    margin-top: 0;
    width:100%;
    height: 150px;
    background: linear-gradient(90deg, #a2f3ee 50%, #FFFFFF 50%);
}

.style-block.blank{
    margin-bottom: 0;
    width:100%;
    height: 100px;
    background: transparent;
}

.about-box{
    width:80%;
    height:400px;
    background-color:#FFFFFF;
    border-radius:20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display:flex;
    margin:-5% auto 20px auto;
    /*position: relative;*/
    justify-content:space-evenly;
    align-items:center;
}

.about-box img{
    height:250px;
}

.about-text{
    width:550px;
}

.hire-btn{
    border:2px solid #373636;
    color:#373636;
}

.down-cv{
    background-color:#0b0b0b;
    color:#FFFFFF;
    border:none;
}

.about-text button:active{
    transform:scale(1.1)
}

.about-text p:nth-child(1){
    color:#403e3e;
    font-family:sans-serif;
    font-weight:bold;
    font-size:25px;
    line-height:0px;
}

.about-text p:nth-child(2){
    color:#3e3d3d;
    font-size:15px;
    font-family:sans-serif;
    font-weight:bold;
    line-height:5px;
}

.about-text p:nth-child(3){
    color:#7e7d7d;
    font-family: sans-serif;
    font-size:18px;
}

.about-text button{
    width:120px;
    height:40px;
    color:#FFFFFF;
    outline:none;
    border:none;
    font-family:calibri;
    background-color:#262525;
}


/*-----------Contact---------------*/
.contact-container{
    width:100%;
    height: 700px;
    background-color: #a2f3ee;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container p{
    color:#8c8c8c;
    font-size:30px;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #8c8c8c;
}

.contact-text{
    width: 60%;
    color:#8c8c8c;
    font-size: 18px;
    font-family: sans-serif;
    word-wrap: break-word;
    padding: 10px 0;
}

.contact-form{
    width: 60%;
    margin:6px;
    float: left;
    padding: 20px;
}

.contact-form label{
    width:100%;
    display:inline-block;
    color:#8c8c8c;
    font-size:20px;
    text-align: left;
    vertical-align: top;
    padding: 0 5px;
}

.contact-form span{
    color:#8c8c8c;
    font-size:20px;
}

.contact-form input[type=text]{
    height: 30px;
    width:100%;
    color:#8c8c8c;
    font-size: 18px;
    resize: vertical;
    border:none;
    border-radius: 4px;
    outline:0px !important;
    padding:0.4em;
    margin-top: 6px;
    margin-bottom: 16px;
}

.contact-form textarea{
    height: 100px;
    width: 100%;
    color:#8c8c8c;
    font-size: 18px;
    resize: none;
    border:none;
    border-radius: 4px;
    outline:0px !important;
    padding:0.4em;
    margin-top: 6px;
    margin-bottom: 16px;

}

.submit-btn-box{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container input[type=submit]{
    display: inline-block;
    width:100px;
    height:40px;
    color: #149991;
    background-color: #FFFFFF;
    outline:none;
    border:none;
    border-radius: 4px;
    font-size:20px;
    font-weight: bold;

}

.contact-container input[type=submit]:hover{
    color: #ffffff;
    background-color: #149991;
}

footer{
    height: 100px;
    background-color: #a2f3ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.copyright{
    color:#565555;
    font-size: 13px;
    position: absolute;
    left:50%;
    bottom:20px;
    transform: translateX(-50%);
}

.social-icons a{
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #e6e3e3;
    margin:20px 10px;
    border-radius:50%;
}

.social-icons{
    display:flex;
}

.social-icons i{
    color:#000000;
}

.social-icons a:hover,
.social-bar a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition:all ease 0.5s;
}

.social-icons a:hover i,
.social-bar a:hover i{
    color:#FFFFFF;
    transition:all ease 0.5s;
}


.social-bar{
    position:fixed;
    top:50%;
    right:0px;
    transform: translateY(-50%);
}

.social-bar a{
    display:flex;
    justify-content:center;
    align-items:center;
    width:50px;
    height:50px;
    padding:0px;
    margin:0px;
    line-height: 0px;
    background-color:#FFFFFF;
    border:1px solid #cbcbcb;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}

.social-bar i{
    color:#2b2b2b;
    font-size: 20px;
}

@media(max-width: 1000px){
    *{
        box-sizing: border-box;
    }

    nav ul{
        margin:0px;
        padding:0px;
        background-color: rgba(235, 238, 244, 0.5);
        position: fixed;
        left:0;
        top:0;
        width:100%;
        height:100vh;
        box-sizing:border-box;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        display:none;
    }
    nav ul li{
        padding:10px;
    }
    nav ul li a{
        font-family:cursive;
        font-weight: bold;
        font-size: 1.4em;
        text-transform: uppercase;
        color:#363636;
    }
    nav ul li a:hover{
        color:#149991;
    }

    .toggle{
        display:block;
    }

    .toggle:before{
        content: '\f0c9';
        position:fixed;
        top: 15px;
        right:35px;
        font-family: fontAwesome;
        font-size: 32px;
        color: #454545;
        line-height: 30px;
        z-index: 1;
    }
    .toggle.active:before{
        content:'\f00d';
        font-size: 32px;
        color: #454545;
        position:fixed;
        top: 15px;
        right:35px;
        line-height:  30px;
    }

    nav.active ul{
        display: flex !important;
    }

    .text-container p:nth-child(1){
        font-size:30px;
    }

    .text-container p:nth-child(2){
        font-size:73px;
    }

    .text-container p:nth-child(3){
        font-size:38px;
        line-height:38px;
    }

    .text-container{
        padding-left: 80px;
    }

    .scroll-btn{
        transform: translateY(400%) translateX(-52%) rotate(45deg);
    }

    .about-box{
        width:90%;
        border-radius: 10px;
    }
    .about-box img{
        height:200px;
    }
    .about-text{
        width:400px;
    }
    .about-text p:nth-child(1){
        font-size: 20px;
    }
    .about-text p:nth-child(2){
        font-size: 10px;
    }
    .about-text p:nth-child(3),
    .about-text p:nth-child(4){
        font-size: 14px;
    }
    .projects-container{
        height:auto;
    }

}

@media(max-width:750px){
    section{
        /*background-image: none;*/
    }
    .text-container p:nth-child(1){
        font-size:22px;
    }

    .text-container p:nth-child(2){
        font-size:65px;
    }

    .text-container p:nth-child(3){
        font-size:30px;
        line-height:30px;
    }

    .text-container{
        padding-left: 30px;
    }

    .about-container{
        width:100%;
        height:auto;
    }

    .style-block.blank{
        border: 1px solid red;
        display:none;
    }

    .about-box{
        flex-direction: column;
        width:90%;
        height:auto;
        margin: -10% auto auto auto;
        padding:30px 0px;
        align-items: center;
    }

    .about-text{
        width:90%;
        text-align: center;
    }

    .skill-container{
        width: 100%;
        height:auto;
        margin-bottom: 100px;
    }

    .skill-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects-text{
        width: 100%;
    }

}

@media(max-height: 700px){
    /*
    section{
        height:600px;
    }

     */
}