.all_post_form{
    text-align: center;
    padding: 50px 100px 70px;
}

.post_display_btn_block{
    position:relative;
    border-radius: 25px;
    display:flex;
    justify-content: center;
    width:100%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.new_post_block{
    animation: 1s ease-out 0s 1 slideDownFromTop;
}

@keyframes slideDownFromTop {
    0% {
        transform: translateY(-100%);
    }

    50%{
        transform: translateY(0);
    }
    55%{
        transform: translate(1px, 1px) rotate(0deg);
    }
    60%{
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    65%{
        transform: translate(-3px, 0px) rotate(1deg);
    }
    70%{
        transform: translate(3px, 2px) rotate(0deg);
    }
    75%{
        transform: translate(1px, -1px) rotate(1deg);
    }
    80%{
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    85%{
        transform: translate(-3px, 1px) rotate(0deg);
    }
    90%{
        transform: translate(3px, 1px) rotate(-1deg);
    }
    95%{
        transform: translate(-1px, -1px) rotate(1deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

/*
@keyframes slideDownFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}


 */
.post_display_btn_normal {
    width:100%;
    height:50px;
    outline:0;/*remove outline border*/
    border-color:#0A2F2F;
    background-color:rgba(26, 108, 108, 0.8);
    border-radius: 25px;
    font-size:20px;
    padding-left:20px;
}

video{
    /*display: block;*/
    width:100%;
    height:100%;
    border-radius: 25px;
    object-fit: fill;
}

.post_display_btn_trend {
    width:100%;
    height:50px;
    font-size:20px;
    outline:0;/*remove outline border*/
    background-color: rgba(255,255,255, 0.0);
    border-radius: 25px;
    border:none;
    position: absolute;
    padding-left:20px;
}

.postname_container{
    width: 240px;
    height:30px;
    text-align: left;
    color: #FFFFFF;
    float:left;
    display:flex;
    align-items: center;
}

.arrow_container{
    width: 70px;
    height:30px;
    float:right;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.discussion_container{
    width:90%;
    word-wrap: break-word;
    
    background-color:rgba(26, 108, 108, 0.8);
    /*background-color:rgba(255, 255, 255, 0.8);*/
    padding-left:20px;
    padding-right:20px;
    /*padding-top:20px;*/
    padding-bottom:20px;
    
    margin: auto;

    border-style: solid;
    border-width: 3px;
    border-color: #0A2F2F;
    overflow: auto;
}

.text_container{
    background-color:rgba(255, 255, 255, 0.8);
    /*width:100%;*/
    height: 600px;
    color: #0A2F2F;
    font-family: "myriad pro regular";
    text-align: left;
    font-size: 15px;
    padding:10px;
    overflow: scroll;
}

.discussion_bar{
    background-color:rgba(255, 255, 255, 0.8);
    width:100%;
    height:40px;
    display: flex;
    justify-content: space-between;
}

.bar_span{
    width:33.3%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(124, 136, 136, 1);
    border-bottom: 1px solid rgba(124, 136, 136, 1);
    border-left: 1px solid rgba(204, 209, 209, 1);
    border-right: 1px solid rgba(204, 209, 209, 1);
}

.original_thumbs_up i{
    font-weight: 300;
}

.thumbs_up_container_toggle i{
    font-weight:900;
    color:#FF1493;
}

/*reply container*/
.reply_container{
    background-color: rgba(255, 255, 255, 0.8);;
    width: 100%;
    height: 200px;
    overflow: scroll;
}

.reply_group_container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.reply_grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-top: 1px solid rgba(204, 209, 209, 1);
    border-bottom: 1px solid rgba(204, 209, 209, 1);
}

.reply_item1{
    /*profile img*/
    grid-column: 1/2;
    grid-row: 1/3;
    padding:5px;
}

.reply_item2{
    /*postname*/
    grid-column: 2/6;
    grid-row: 1/2;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
}

.reply_item3{
    /*reply*/
    grid-column: 6/7;
    grid-right: 1/2;
    padding:5px;
}

.reply_item3 a{
    text-decoration: none;
    color: #008B8B;
}

.reply_item4{
    /*post text*/
    grid-column: 2/7;
    grid-row:2/3;
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
}

.main_reply_container{
    width: 100%;
    /*justify-items: flex-start;*/

}

.sub_reply_container{
    width:90%;
}

.comment_ui{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-top: 1px solid rgba(204, 209, 209, 1);
    /*background-color: rgba(26, 108, 108, 0.8);*/
}

.comment_ui_item1 {
    /*cancel button*/
    grid-column: 1/2;
    grid-row: 1/3;
    /*background-color: rgba(231, 76, 60, 0.6);*/
    background-color: red;
    border-radius: 0 0 0 10px;
}

.scroll_btn_1{
    transform: translateY(20%) translateX(35%) rotate(45deg);
    height:40px;
    width: 40px;
}

.scroll_btn_1 span{
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid rgba(176, 58, 46, 1);
    border-right: 5px solid rgba(176, 58, 46, 1);
    animation: scroll 1.5s linear infinite;

}

.comment_ui_item2 {
    /*textarea*/
    grid-column: 2/10;
    grid-row: 1/3;
    width:100%;
    height: 100%;
    box-sizing: border-box;
}

.comment_ui_item2 textarea{
    display: block;
    resize:none;
    width: 100%;
    height: 100%;
    padding: 0.5% 2%;
    box-sizing: border-box;
}

.comment_ui_item3 {
    /*send button*/
    grid-column: 10/11;
    grid-row: 1/3;
    /*background-color: rgba(40, 180, 99, 0.6);*/
    background-color: green;
    border-radius: 0 0 10px 0;
}

.scroll_btn_2{
    transform: translateY(85%) translateX(40%) rotate(45deg);
    height:40px;
    width: 40px;
}

.scroll_btn_2 span{
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    width: 100%;
    height: 100%;
    border-top: 5px solid rgba(34, 153, 84, 1);
    border-left: 5px solid rgba(34, 153, 84, 1);
    animation: scroll 1.5s linear infinite;
}

.scroll_btn_1 span:nth-child(1){
    transform: translate(-15px, -15px);
    animation-delay: -.4s;
}

.scroll_btn_1 span:nth-child(2){
    transform: translate(0, 0);
    animation-delay: -.2s;
}

.scroll_btn_1 span:nth-child(3){
    transform: translate(15px, 15px);
    animation-delay: 0s;
}

.scroll_btn_2 span:nth-child(1){
    transform: translate(-15px, -15px);
    animation-delay: 0s;
}

.scroll_btn_2 span:nth-child(2){
    transform: translate(0, 0);
    animation-delay: -.2s;
}

.scroll_btn_2 span:nth-child(3){
    transform: translate(15px, 15px);
    animation-delay: -.4s;
}


@keyframes scroll {
    0%{
        top:-2px;
        left:-2px;
        opacity: 0;
    }
    25%{
        top:0;
        left:0;
        opacity:1;
    }
    50%, 100%{
        top:2px;
        left:2px;
        opacity: 0;
    }
}
